# file types to ignore

*.pyc
*.obj
*.lib
*.pch
*.vcproj
*.exp
*.dep
*.manifest
qrc_*.cpp
BuildLog.htm
cmake_install.cmake
*~
CMakeFiles/
*qrc.depends
ui_*.h
moc_*.cpp
Makefile
CMakeCache.txt
config.h
install_manifest.txt
/bin/
/ALL_BUILD.dir/
/doc/
/lib/
/Mod/
/ZERO_CHECK.dir/
/build/
/src/Tools/offlinedoc/localwiki/
/src/Tools/offlinedoc/todolist.txt
/src/Tools/offlinedoc/wikifiles.txt
/src/mod/Inspection/App/Inspection.dir/Debug/Inspection.tlog/*.tlog
/src/Main/FreeCADMain.dir/Debug/*.cache
/src/Main/FreeCADMainCmd.dir/Debug/*.cache
/src/Main/FreeCADMainPy.dir/Debug/*.cache
/src/mod/Custom/App/Part.dir/Release/*.cache
/src/mod/Custom/Gui/PartGui.dir/Debug/*.cache
/src/mod/Custom/Gui/PartGui.dir/Release/*.cache
/src/mod/Fem/App/Fem.dir/Debug/*.cache
/src/mod/Fem/Gui/FemGui.dir/Debug/*.cache
/src/mod/Import/App/Import.dir/Debug/*.cache
/src/mod/Import/Gui/ImportGui.dir/Debug/*.cache
/src/mod/MeshPart/App/MeshPart.dir/Debug/*.cache
/src/mod/MeshPart/Gui/MeshPartGui.dir/Debug/*.cache
/src/mod/Part/App/Part.dir/Debug/*.cache
/src/mod/Part/Gui/PartGui.dir/Debug/*.cache
/src/mod/Part/Gui/PartGui.dir/Release/*.cache
/src/mod/PartDesign/App/PartDesign.dir/Debug/*.cache
/src/mod/Path/App/Path.dir/Debug/*.cache
/src/mod/Path/App/Path.dir/Release/*.cache
/src/mod/Path/Gui/PathGui.dir/Debug/*.cache
/src/mod/Path/Gui/PathGui.dir/Release/*.cache
/src/mod/Web/App/Web.dir/Debug/*.cache
/src/mod/Web/Gui/WebGui.dir/Debug/*.cache
/src/mod/Robot/Lib/Kuka/*.dat
/src/Tools/thumbs/*.def
/src/Tools/thumbs/ThumbnailProvider/*.def
/src/App/*.dox
/src/Base/*.dox
/src/CXX/*.dox
/src/Doc/*.dox
/src/Gui/*.dox
/src/Main/*.dox
/src/mod/Arch/*.dox
/src/mod/Assembly/*.dox
/src/mod/Cam/*.dox
/src/mod/Complete/*.dox
/src/mod/Custom/*.dox
/src/mod/Draft/*.dox
/src/mod/Drawing/*.dox
/src/mod/Fem/*.dox
/src/mod/Image/*.dox
/src/mod/Import/*.dox
/src/mod/Inspection/*.dox
/src/mod/Mesh/App/WildMagic4/*.dox
/src/mod/Mesh/*.dox
/src/mod/MeshPart/*.dox
/src/mod/*.dox
/src/mod/OpenSCAD/*.dox
/src/mod/Part/*.dox
/src/mod/PartDesign/*.dox
/src/mod/Plot/*.dox
/src/mod/Points/*.dox
/src/mod/Raytracing/*.dox
/src/mod/ReverseEngineering/*.dox
/src/mod/Robot/*.dox
/src/mod/Sandbox/*.dox
/src/mod/Ship/*.dox
/src/mod/Sketcher/*.dox
/src/mod/Spreadsheet/*.dox
/src/mod/Start/*.dox
/src/mod/Test/*.dox
/src/mod/Web/*.dox
/src/Tools/_TEMPLATE_/*.dox
/src/zipios++/*.dox
/src/Tools/thumbs/*.dsp
/src/Tools/thumbs/*.dsw
/src/mod/Drawing/Templates/*.dxf
/src/mod/Idf/*.emn
/src/mod/Idf/*.emp
/src/mod/Spreadsheet/App/*.FCMacro
/src/mod/Material/StandardMaterial/*.FCMat
/src/mod/Path/DemoParts/*.fcstd
/src/mod/Ship/resources/examples/*.fcstd
/src/App/FreeCADApp.dir/Release/FreeCADApp.tlog/*.lastbuildstate
/src/Base/FreeCADBase.dir/Release/FreeCADBase.tlog/*.lastbuildstate
/src/Gui/FreeCADGui.dir/Release/FreeCADGui.tlog/*.lastbuildstate
/src/Main/FreeCADGuiPy.dir/Release/FreeCADGuiPy.tlog/*.lastbuildstate
/src/Main/FreeCADMain.dir/Debug/FreeCADMain.tlog/*.lastbuildstate
/src/Main/FreeCADMain.dir/Release/FreeCADMain.tlog/*.lastbuildstate
/src/Main/FreeCADMainCmd.dir/Debug/FreeCADMainCmd.tlog/*.lastbuildstate
/src/Main/FreeCADMainCmd.dir/Release/FreeCADMainCmd.tlog/*.lastbuildstate
/src/Main/FreeCADMainPy.dir/Debug/FreeCADMainPy.tlog/*.lastbuildstate
/src/Main/FreeCADMainPy.dir/Release/FreeCADMainPy.tlog/*.lastbuildstate
/src/mod/Arch/Win32/Debug/Arch/Arch.tlog/*.lastbuildstate
/src/mod/Complete/App/Complete.dir/Debug/Complete.tlog/*.lastbuildstate
/src/mod/Complete/Gui/CompleteGui.dir/Debug/CompleteGui.tlog/*.lastbuildstate
/src/mod/Custom/App/Part.dir/Release/Custom.tlog/*.lastbuildstate
/src/mod/Custom/Gui/PartGui.dir/Debug/PartGui.tlog/*.lastbuildstate
/src/mod/Custom/Gui/PartGui.dir/Release/CustomGui.tlog/*.lastbuildstate
/src/mod/Draft/Win32/Debug/Draft/Draft.tlog/*.lastbuildstate
/src/mod/Drawing/App/Drawing.dir/Debug/Drawing.tlog/*.lastbuildstate
/src/mod/Drawing/Gui/DrawingGui.dir/Debug/DrawingGui.tlog/*.lastbuildstate
/src/mod/Fem/App/Fem.dir/Debug/Fem.tlog/*.lastbuildstate
/src/mod/Fem/Gui/FemGui.dir/Debug/FemGui.tlog/*.lastbuildstate
/src/mod/Idf/Win32/Debug/Idf/Idf.tlog/*.lastbuildstate
/src/mod/Image/App/Image.dir/Debug/Image.tlog/*.lastbuildstate
/src/mod/Image/Gui/ImageGui.dir/Debug/ImageGui.tlog/*.lastbuildstate
/src/mod/Import/App/Import.dir/Debug/Import.tlog/*.lastbuildstate
/src/mod/Import/App/Import.dir/Release/Import.tlog/*.lastbuildstate
/src/mod/Import/App/Win32/Debug/ImportPy/ImportPy.tlog/*.lastbuildstate
/src/mod/Import/Gui/ImportGui.dir/Debug/ImportGui.tlog/*.lastbuildstate
/src/mod/Import/Gui/ImportGui.dir/Release/ImportGui.tlog/*.lastbuildstate
/src/mod/Inspection/App/Inspection.dir/Debug/Inspection.tlog/*.lastbuildstate
/src/mod/Inspection/Gui/InspectionGui.dir/Debug/InspectionGui.tlog/*.lastbuildstate
/src/mod/Material/Win32/Debug/Material/Material.tlog/*.lastbuildstate
/src/mod/Material/Win32/Debug/MaterialLib/MaterialLib.tlog/*.lastbuildstate
/src/mod/Mesh/App/Mesh.dir/Debug/Mesh.tlog/*.lastbuildstate
/src/mod/Mesh/Gui/MeshGui.dir/Debug/MeshGui.tlog/*.lastbuildstate
/src/mod/MeshPart/App/MeshPart.dir/Debug/MeshPart.tlog/*.lastbuildstate
/src/mod/MeshPart/Gui/MeshPartGui.dir/Debug/MeshPartGui.tlog/*.lastbuildstate
/src/mod/OpenSCAD/Win32/Debug/OpenSCAD/OpenSCAD.tlog/*.lastbuildstate
/src/mod/Part/App/Part.dir/Debug/Part.tlog/*.lastbuildstate
/src/mod/Part/App/Part.dir/Release/Part.tlog/*.lastbuildstate
/src/mod/Part/Gui/PartGui.dir/Debug/PartGui.tlog/*.lastbuildstate
/src/mod/Part/Gui/PartGui.dir/Release/PartGui.tlog/*.lastbuildstate
/src/mod/PartDesign/App/PartDesign.dir/Debug/PartDesign.tlog/*.lastbuildstate
/src/mod/PartDesign/Gui/PartDesignGui.dir/Debug/PartDesignGui.tlog/*.lastbuildstate
/src/mod/PartDesign/Win32/Debug/WizardShaft/WizardShaft.tlog/*.lastbuildstate
/src/mod/Path/App/Path.dir/Debug/Path.tlog/*.lastbuildstate
/src/mod/Path/App/Path.dir/Release/Path.tlog/*.lastbuildstate
/src/mod/Path/Gui/PathGui.dir/Debug/PathGui.tlog/*.lastbuildstate
/src/mod/Path/Gui/PathGui.dir/Release/PathGui.tlog/*.lastbuildstate
/src/mod/Path/Win32/Debug/PathScripts/PathScripts.tlog/*.lastbuildstate
/src/mod/Plot/Win32/Debug/Plot/Plot.tlog/*.lastbuildstate
/src/mod/Points/App/Points.dir/Debug/Points.tlog/*.lastbuildstate
/src/mod/Points/Gui/PointsGui.dir/Debug/PointsGui.tlog/*.lastbuildstate
/src/mod/Raytracing/App/Raytracing.dir/Debug/Raytracing.tlog/*.lastbuildstate
/src/mod/Raytracing/Gui/RaytracingGui.dir/Debug/RaytracingGui.tlog/*.lastbuildstate
/src/mod/ReverseEngineering/App/ReverseEngineering.dir/Debug/ReverseE.819B2469.tlog/*.lastbuildstate
/src/mod/ReverseEngineering/Gui/ReverseEngineeringGui.dir/Debug/ReverseE.F8F60EBD.tlog/*.lastbuildstate
/src/mod/Robot/App/Robot.dir/Debug/Robot.tlog/*.lastbuildstate
/src/mod/Robot/Gui/RobotGui.dir/Debug/RobotGui.tlog/*.lastbuildstate
/src/mod/Ship/Win32/Debug/Ship/Ship.tlog/*.lastbuildstate
/src/mod/Sketcher/App/Sketcher.dir/Debug/Sketcher.tlog/*.lastbuildstate
/src/mod/Sketcher/Gui/SketcherGui.dir/Debug/SketcherGui.tlog/*.lastbuildstate
/src/mod/Spreadsheet/App/Spreadsheet.dir/Debug/Spreadsheet.tlog/*.lastbuildstate
/src/mod/Spreadsheet/Gui/SpreadsheetGui.dir/Debug/SpreadsheetGui.tlog/*.lastbuildstate
/src/mod/Start/App/Start.dir/Debug/Start.tlog/*.lastbuildstate
/src/mod/Start/App/Start.dir/Release/Start.tlog/*.lastbuildstate
/src/mod/Start/Gui/StartGui.dir/Debug/StartGui.tlog/*.lastbuildstate
/src/mod/Start/Gui/StartGui.dir/Release/StartGui.tlog/*.lastbuildstate
/src/mod/Test/Gui/QtUnitGui.dir/Debug/QtUnitGui.tlog/*.lastbuildstate
/src/mod/Test/Win32/Debug/Test/Test.tlog/*.lastbuildstate
/src/mod/Web/App/Web.dir/Debug/Web.tlog/*.lastbuildstate
/src/mod/Web/App/Web.dir/Release/Web.tlog/*.lastbuildstate
/src/mod/Web/Gui/WebGui.dir/Debug/WebGui.tlog/*.lastbuildstate
/src/mod/Web/Gui/WebGui.dir/Release/WebGui.tlog/*.lastbuildstate
/src/App/*.log
/src/App/FreeCADApp.dir/Release/*.log
/src/Base/*.log
/src/Base/FreeCADBase.dir/Release/*.log
/src/Gui/FreeCADGui.dir/Release/*.log
/src/Gui/*.log
/src/Main/FreeCADGuiPy.dir/Release/*.log
/src/Main/*.log
/src/Main/FreeCADMain.dir/Debug/*.log
/src/Main/FreeCADMain.dir/Release/*.log
/src/Main/FreeCADMainCmd.dir/Debug/*.log
/src/Main/FreeCADMainCmd.dir/Release/*.log
/src/Main/FreeCADMainPy.dir/Debug/*.log
/src/Main/FreeCADMainPy.dir/Release/*.log
/src/mod/Arch/Win32/Debug/Arch/*.log
/src/mod/Complete/App/Complete.dir/Debug/*.log
/src/mod/Complete/Gui/CompleteGui.dir/Debug/*.log
/src/mod/Custom/Gui/PartGui.dir/Debug/*.log
/src/mod/Draft/Win32/Debug/Draft/*.log
/src/mod/Drawing/App/Drawing.dir/Debug/*.log
/src/mod/Drawing/Gui/DrawingGui.dir/Debug/*.log
/src/mod/Fem/App/Fem.dir/Debug/*.log
/src/mod/Fem/Gui/FemGui.dir/Debug/*.log
/src/mod/Idf/Win32/Debug/Idf/*.log
/src/mod/Image/App/Image.dir/Debug/*.log
/src/mod/Image/Gui/ImageGui.dir/Debug/*.log
/src/mod/Import/App/Import.dir/Debug/*.log
/src/mod/Import/App/Win32/Debug/ImportPy/*.log
/src/mod/Import/Gui/ImportGui.dir/Debug/*.log
/src/mod/Inspection/App/Inspection.dir/Debug/*.log
/src/mod/Inspection/Gui/InspectionGui.dir/Debug/*.log
/src/mod/Material/Win32/Debug/Material/*.log
/src/mod/Material/Win32/Debug/MaterialLib/*.log
/src/mod/Mesh/App/Mesh.dir/Debug/*.log
/src/mod/Mesh/Gui/MeshGui.dir/Debug/*.log
/src/mod/MeshPart/App/MeshPart.dir/Debug/*.log
/src/mod/MeshPart/Gui/MeshPartGui.dir/Debug/*.log
/src/mod/OpenSCAD/Win32/Debug/OpenSCAD/*.log
/src/mod/Part/App/Part.dir/Debug/*.log
/src/mod/Part/App/Part.dir/Release/*.log
/src/mod/Part/Gui/PartGui.dir/Debug/*.log
/src/mod/PartDesign/App/PartDesign.dir/Debug/*.log
/src/mod/PartDesign/Gui/PartDesignGui.dir/Debug/*.log
/src/mod/PartDesign/Win32/Debug/WizardShaft/*.log
/src/mod/Path/App/Path.dir/Debug/*.log
/src/mod/Path/Gui/PathGui.dir/Debug/*.log
/src/mod/Path/Win32/Debug/PathScripts/*.log
/src/mod/Plot/Win32/Debug/Plot/*.log
/src/mod/Points/App/Points.dir/Debug/*.log
/src/mod/Points/Gui/PointsGui.dir/Debug/*.log
/src/mod/Raytracing/App/Raytracing.dir/Debug/*.log
/src/mod/Raytracing/Gui/RaytracingGui.dir/Debug/*.log
/src/mod/ReverseEngineering/App/ReverseEngineering.dir/Debug/*.log
/src/mod/ReverseEngineering/Gui/ReverseEngineeringGui.dir/Debug/*.log
/src/mod/Robot/App/Robot.dir/Debug/*.log
/src/mod/Robot/Gui/RobotGui.dir/Debug/*.log
/src/mod/Ship/Win32/Debug/Ship/*.log
/src/mod/Sketcher/App/Sketcher.dir/Debug/*.log
/src/mod/Sketcher/Gui/SketcherGui.dir/Debug/*.log
/src/mod/Spreadsheet/App/Spreadsheet.dir/Debug/*.log
/src/mod/Spreadsheet/Gui/SpreadsheetGui.dir/Debug/*.log
/src/mod/Start/App/Start.dir/Debug/*.log
/src/mod/Start/App/Start.dir/Release/*.log
/src/mod/Start/Gui/StartGui.dir/Debug/*.log
/src/mod/Start/Gui/StartGui.dir/Release/*.log
/src/mod/Test/Gui/QtUnitGui.dir/Debug/*.log
/src/mod/Test/Win32/Debug/Test/*.log
/src/mod/Web/App/Web.dir/Debug/*.log
/src/mod/Web/App/Web.dir/Release/*.log
/src/mod/Web/Gui/WebGui.dir/Debug/*.log
/src/mod/Web/Gui/WebGui.dir/Release/*.log
/src/mod/Complete/App/Complete.dir/Debug/*.pdb
/src/mod/Complete/Gui/CompleteGui.dir/Debug/*.pdb
/src/mod/Drawing/App/Drawing.dir/Debug/*.pdb
/src/mod/Drawing/Gui/DrawingGui.dir/Debug/*.pdb
/src/mod/Fem/App/Fem.dir/Debug/*.pdb
/src/mod/Fem/Gui/FemGui.dir/Debug/*.pdb
/src/mod/Image/App/Image.dir/Debug/*.pdb
/src/mod/Image/Gui/ImageGui.dir/Debug/*.pdb
/src/mod/Import/App/Import.dir/Debug/*.pdb
/src/mod/Inspection/App/Inspection.dir/Debug/*.pdb
/src/mod/Inspection/Gui/InspectionGui.dir/Debug/*.pdb
/src/mod/Mesh/App/Mesh.dir/Debug/*.pdb
/src/mod/Mesh/Gui/MeshGui.dir/Debug/*.pdb
/src/mod/MeshPart/App/MeshPart.dir/Debug/*.pdb
/src/mod/MeshPart/Gui/MeshPartGui.dir/Debug/*.pdb
/src/mod/Points/App/Points.dir/Debug/*.pdb
/src/mod/Points/Gui/PointsGui.dir/Debug/*.pdb
/src/mod/Raytracing/App/Raytracing.dir/Debug/*.pdb
/src/mod/Raytracing/Gui/RaytracingGui.dir/Debug/*.pdb
/src/mod/ReverseEngineering/App/ReverseEngineering.dir/Debug/*.pdb
/src/mod/ReverseEngineering/Gui/ReverseEngineeringGui.dir/Debug/*.pdb
/src/mod/Robot/App/Robot.dir/Debug/*.pdb
/src/mod/Robot/Gui/RobotGui.dir/Debug/*.pdb
/src/mod/Sketcher/App/Sketcher.dir/Debug/*.pdb
/src/mod/Sketcher/Gui/SketcherGui.dir/Debug/*.pdb
/src/mod/Spreadsheet/App/Spreadsheet.dir/Debug/*.pdb
/src/mod/Spreadsheet/Gui/SpreadsheetGui.dir/Debug/*.pdb
/src/mod/Test/Gui/QtUnitGui.dir/Debug/*.pdb
/src/mod/Robot/Lib/Kuka/*.pdf
/src/*.zip
*.rar
